/* possibly build upon use a photo as background later, atp is a bit distracting
body{
    margin: 0px;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
} */
 body{
    margin: 0px;
    background-color: #FADADD;
 }
main{
    margin: 10px;
    font-family: "Rationale";
}
h1{
    text-align: center;
    font-family: "amatic SC";
    font-size: xxx-large;
    font-weight: bolder;
}
h2{
     text-align: center;
    font-family: "amatic SC";
    font-size: xx-large;
    font-weight: bolder;
}
h3{
    margin: 10px;
    font-family: "Rationale";
    font-weight: 550;
    font-size: larger;
}
table{
    width: 100%;
    border-spacing: 0px;
    height: auto;
    text-align: left;
}
table, th, td{
    border: 1px solid black;
}
th, td{
    padding: 7px;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(248, 148, 195);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: "amatic SC";
    font-size: x-large;
    font-weight: bolder;
}
.navbar a{
    color:rgb(83, 61, 99); 
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(224, 191, 196) ;
}
/* work on centering navbar in future */
.navbar li{
    float: left;
}
footer{
    text-align: center;
    font-family: "Rationale";
}
#indent{
    margin-left: 50px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 5px hsl(327, 95%, 83%) outset;
    padding-right: 30px;
}
.item{
    width: 200px;
    height: auto;
    text-align: left;
    flex-grow: 1;
}
#item5{
    flex-grow: 5;
}
.link a:hover{
    color: rgb(245, 177, 215);
}